*{
    box-sizing: border-box;
}

body{
    background-color: deepskyblue;
}

form{
    display: flex;
    flex-direction: column ;
    background-color: darkslategray;
    width: 400px;
    height: 400px;
    align-items: center;
    margin: auto;
    margin-top:50px ;
}

img{
    margin-top: -40px;
    width: 80px;
    height: 80px;
}

h1{
    font-family: sans-serif;
    color: white;
}

input{
    margin-top: 20px;
    width: 60%;
    padding: 20px;
    border: none;
    outline: none;
}

.outline{
    background-color: darkturquoise;
    width: 25%;
    color: white;
    font-weight: bold;
}
.outline:hover{
    background-color:violet;
    cursor: pointer;
}